<div class="mt-16">
    <h1>them video</h1>
    <form method="post" action="/company/save">
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">name</span>
        <input type="text" class="form-control" name="name" placeholder="name" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">image</span>
        <input type="text" class="form-control" name="image" placeholder="image" >
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">description</span>
        <input type="text" class="form-control" name="description" placeholder="description" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">abum</span>
        <input type="text" class="form-control" name="abum" placeholder="abum image" >
    </div>
    <input type="submit">
    </form>
</div>
